body{
    background-color: rgb(232, 167, 3);
}

.bgImage{
    background-image: url(https://integratec.com/blog/imagenes/trabajo-equipo-productividad.webp);
    background-size: cover;
}

.bgInfo{
    background-color: rgba(0, 0, 0, 0.813);
}

.marginCopyright{
    margin-left: 38rem;
}

.anchorsNavbar:hover{
background-color: rgba(245, 189, 20, 0.83);
}

.anchorsFooter:hover{
    background-color: rgba(240, 248, 255, 0.269);
}
